body {
  font-family: 'helvatica', sans-serif;
}

.container {
  margin-top: 4%;
  margin-left: 30%;
  padding: 10px;
  width: 310px;
  border: 1px solid #ededed;
}

form {
  width: auto;
  height: auto;
  padding-bottom: 20px;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  max-height: 330px;
}

label .labels {
  font-weight: 600;
  font-size:  12px;
  color: #6b6b6b;
}

.textarea {
  margin-top: 5px;
  width: auto;
  height: auto;
  border: 1px solid rgb(47, 51, 50);
  border-radius: 2px;
  font-size: 16px;
}

.textarea:hover {
  box-shadow: 0px 0px 10px 1px #ebf6ff;
  border: 1px solid rgb(47, 51, 50);
}

.textarea:focus {
  box-shadow: 0px 0px 5px 1px #ebf6ff;
}

textarea::-webkit-scrollbar {
  width: 3px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgb(47, 51, 50);
}

textarea[type=search] {
  -webkit-appearance: none;
}



span .textarea_count {
  margin-top: 2px;
  float: right;
  font-size: 10px;
  color: #ec0f0f;
}

button#checkButton{
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgb(47, 51, 50);
}

button#checkButton:hover {
  background-color: rgb(101, 101, 101);
  color: #fff;
}

div #spellCheck {
  border: 1px solid;
  font-size: 12px;
}