<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>맞춤법 검사기</title>
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <script src="js/submit.js" defer></script>
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input type="text" id="content"/>
        <p id="button">submit</p>
      </form>
    </div>
  </div>
  <div class="result-page">
    <div class="result-list">
    </div>
  </div>
</body>
</html>

<!-- /* Copyright (c) 2021 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) */ -->